* {
	touch-action:pan-y;
}
img {
	vertical-align: middle;
}
body {
	background-color: #F2F2F2;
}
.mui-bar-nav {
	box-shadow: none;
	background-color: #fff;
	border-bottom: 1px solid #F2F2F2;
}
.mui-icon-arrowleft {
	color: #000000;
}
.mui--top {
	height: 1.067rem;
	line-height: 1.067rem;
	padding: 0 0.32rem;
	font-size: 0.373rem;
	background-color: #fff;
	position: relative;
}
.mui--top .mui-pull-right {
	color: #e71a8c;
	padding-right: 0.4rem;
}
.mui--top .mui-navigate-right:after {
	color: #E71A8C;
	right: 0.26rem;
	font-size: 0.5rem;
}
.mui--banner {
	position: relative;
	height: 5.7rem;
	overflow: hidden;
}
.mui--banner img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.mui--banner .mui-btn {
	border-color: #E71A8C;
	color: #E71A8C;
	position: absolute;
	top: 0.266rem;
	right: 0.32rem;
	font-size: 0.279rem;
	background-color: #fff;
}
.mui--cell {
	display: flex;
	padding: 0 0.32rem;
	font-size: 0.373rem;
	background-color: #fff;
	border-bottom: 1px solid #F2F2F2;
	position: relative;
}
.mui--cell.mui-navigate-right:after {
	font-size: 0.5rem;
	color: #000000;
}
.mui--cell .mui--label {
	flex: 0 0 2rem;
	/*text-align: right;*/
	padding: 0.253rem 0;
}
.mui--padding .mui--label {
	flex: 0 0 5rem;
}
.mui--cell .mui--input {
	flex: 1;
	margin-bottom: 0;
	border: none;
	padding: 0;
	height: auto;
	text-align: right;
	font-size: 0.373rem;
}
.mui--cell .mui--unit {
	padding: 0.253rem 0 0.253rem 0.253rem;
}
.mui--cell .mui--textarea {
	border: none;
	margin-bottom: 0;
}
.lottery .mui--title {
	padding: 0.466rem 0.32rem 0.2rem 0.32rem;
	font-size: 0.32rem;
	color: #808080;
}
.mui--cell .mui--textarea {
	font-size: 0.32rem;
	padding-left: 0;
	padding-right: 0;
}
.mui-content .mui--buttom-input {
	margin-bottom: 0.267rem;
	margin-top: -0.267rem;
	border: none;
	font-size: 0.373rem;
}
.mui--item-content {
	flex: 1;
	padding: 0.253rem 0;
	text-align: right;
	line-height: 0.57rem;
	padding-right: 0.6rem;
}
.mui--padding {
	margin-bottom: 0.267rem;
}
.mui--item-switch {
	flex: 1;
}
.mui--item-switch .mui-switch {
	margin-top: 0.14rem;
}
.mui--cell .mui--tip {
	font-size: 0.293rem;
	color: #808080;
}
.mui--cell .mui--img-warpper {
	position: relative;
	text-align: center;
}
.mui--cell .mui--img-warpper img {
	max-width: 100%;
}
.mui--img-warpper .mui-icon-closeempty {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #000;
	color: #fff;
	border-radius: 100px;
	opacity: 0.5;
}
.mui--cell .mui--upload-warpper {
	padding-top: 0.32rem;
	display: block;
	width: 100%;
	text-align: center;
}
.mui--btn-red {
	background-color: red;
	border-color: red;
	margin-bottom: 0;
	color: #fff;
	border-radius: 0;
}
.mui-switch.mui-active {
	background-color: #E71A8C;
	border-color: #E71A8C;
	background-clip: border-box;
}

.mui--icon-msg {
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
	background-image: url(../img/msg.png);
	background-size: contain;
	vertical-align: middle;
	position: relative;
	top: -1px;
}
#changebtn {
	color: #E71A8C;
}
#img-introduce {
	display: none;
}
.mui--process {
	background-color: #fce6f2;
	padding: 0 0.32rem;
	font-size: 0.32rem;
	margin-bottom: 0.267rem;
}
.mui--process::active {
	background-color: rgba(0, 0, 0, 0.5);
}
.mui--process .mui--title {
	line-height: 1rem;
}
.mui--process .mui--list {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.453rem;
}
.mui--process .mui--list .mui--step {
	flex: 2.2rem;
	text-align: center;
	line-height: 0.432rem;
}
.mui--process .mui--step img {
	width: 1.108rem;
	margin-bottom: 0.2rem;
}
.mui--process .mui--list .mui--arrow {
	flex: 1;
	text-align: center;
}
.mui--process .mui--list .mui--arrow img {
	width: 0.56rem;
}
.mui--list-warpper {
	display: flex;
	padding: 0.4rem 0.347rem;
	line-height: 0.4rem;
	background-color: #fff;
	margin-bottom: 0.267rem;
	color: #000;
}
.mui--list-warpper .mui--left {
	flex: 0 0 2.4rem;
}
.mui--list-warpper .mui--left img {
	width: 100%;
	height: 100%;
	border-radius: 0.133rem;
}
.mui--list-warpper .mui--right {
	flex: 1;
	padding-left: 0.5rem;
}
.mui--list-warpper .mui--right .mui--title {
	font-size: 0.347rem;
	height: 2rem;
}
.mui--list-warpper .mui--right .mui--price {
	font-size: 0.453rem;
	color: red;
}
.mui--bottom {
	text-align: center;
	padding: 0.453rem 0;
	color: #808080;
	font-size: 0.32rem;
	padding-top: 0.5rem;
	/*margin-top: 0.2rem;*/
}
.mui--bottom a {
	color: #e71a8c;
}
.mui--fb-textarea {
	margin-top: 0.24rem;
	border: none;
	font-size: 0.32rem;
}
.mui-btn-block {
	padding: 0.32rem;
	font-size: 0.427rem;
	background-color: #f180bf;
	border-color: #f180bf;
	color: #fff;
	border: none;
}
.mui--goods-warpper {
	background-color: #fff;
}
.mui--goods-warpper .img-warpper {
	text-align: center;
}
.mui--goods-warpper img {
	max-width: 100%;
	vertical-align: middle;
}
.mui--goods-warpper .mui--title {
	padding: 0.32rem;
	font-size: 0.347rem;
	line-height: 0.4rem;
}
.mui--goods-warpper .mui--price {
	padding: 0 0.32rem;
	font-size: 0.453rem;
	color: red;
	padding-bottom: 0.3rem;
}
.mui--goodsimg-warpper {
	text-align: center;
	padding: 0.32rem;
	background-color: #fff;
	margin: 0.267rem 0;
	margin-bottom: 1.8rem;
}
.mui--goodsimg-warpper img {
	max-width: 100%;
}
.mui-btn-bottom {
	position: fixed;
	bottom: 0;
	display: block;
	width: 100%;
	font-size: 0.427rem;
	line-height: 0.5rem;
	background-color: #e71a8c;
	border-radius: 0;
	border-color: #E71A8C;
	padding: 0.4rem 0;
	border:none;
}
.mui--tab {
	border:none;
	border-radius: 0;
	border-bottom: 1px solid #F2F2F2;
}
.mui--tab .mui-control-item.mui-active{
	background-color: #fff;
	color: #000000;
	border-color: #E71A8C;
}
.mui--tab .mui-control-item {
	color: #000000;
	background-color: #fff;
	border:none;
	font-size: 0.373rem;
	border-bottom: 0.053rem solid transparent;
}
.mui--tips {
	padding: 0.32rem;
	font-size: 0.32rem;
	background-color: #fff;
	margin-bottom: 0.267rem;
}
.mui--tips span {
	color: #ff0101;
}
.mui--row-warpper {
	background-color: #fff;
	margin-bottom: 0.267rem;
}
.mui--row-warpper .mui--name {
	font-size: 0.373rem;
	padding: 0.08rem 0.32rem;
	overflow: hidden;
	line-height: 0.77rem;
}
.mui--row-warpper .mui--name img{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 100px;
	margin-right: 0.2rem;
	/*object-fit: con;*/
}
.mui--row-warpper .mui-pull-right {
	color: #808080;
}
.mui--address {
	color: #808080;
	padding: 0.2rem 0.32rem;
	border-top: 1px solid #F2F2F2;
}
.mui--address .mui--contact {
	font-size: 0.347rem;
}
.mui--address .mui--addr {
	font-size: 0.293erm;
}
.mui--cropper {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 50px;
	display: none;
	z-index: 11;
}
.mui--cropper .mui--img-warpper {
	height: 100%;
	width: 100%;
}
.mui--cropper .mui--img-warpper img {
	max-width: 100%;
	max-height: 100%;
}
.mui--cropper .mui--bottoms {
	height: 50px;
	background-color: #fff;
	display: flex;
	text-align: center;
	align-items: center;
}
.mui--cropper .mui--bottoms div {
	flex: 1;
	font-size: 0.5rem;
}